.container {
  /* display: block; */
  position: relative;
  padding: 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.corner {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark,
.paint {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: #ffffff;
}

.container:hover input ~ .checkmark {
  background-color: #e2e2e2 !important;
}

.container input:checked ~ .selected {
  background-color: #cecece !important;
}

.container:hover input ~ .paint {
  border: 2px dotted grey !important;
}

.container input:checked ~ .chosen-color {
  border: 2px solid black !important;
}
